# 1. Auditoría de Datos: Tabla `orders`

Se realizó un perfilado inicial del archivo `olist_orders_dataset.csv` utilizando la librería Pandas para definir la arquitectura de la tabla en PostgreSQL.

## Hallazgos Técnicos:
* **Volumen de Datos:** 99,441 registros
* **Integridad de Columnas:** Se identificaron **8 columnas** con 3 columnas (fechas) de valores no nulos.

### Análisis de Cardinalidad:
* **`order_id`:** Posee 99,441 valores únicos, confirmando su aptitud como **Primary Key**.
* **`customer_id`:** Posee 99,441 valores unicos lo que indica que a cada compra se le asigna un id aunque se trate del mismo cliente.

In [20]:
import pandas as pd

df_orders = pd.read_csv('../data/olist_orders_dataset.csv')

data_quality = pd.DataFrame({
    'Tipo': df_orders.dtypes,
    'No Nulos': df_orders.count(),
    'Nulos': df_orders.isnull().sum(),
    'Valores Unicos': df_orders.nunique(),
    'Duplicados': len(df_orders) - df_orders.nunique()
})

data_quality

# df_orders.head(4)

,Tipo,No Nulos,Nulos,Valores Unicos,Duplicados
order_id,object,99441,0,99441,0
customer_id,object,99441,0,99441,0
order_status,object,99441,0,8,99433
order_purchase_timestamp,object,99441,0,98875,566
order_approved_at,object,99281,160,90733,8708
order_delivered_carrier_date,object,97658,1783,81018,18423
order_delivered_customer_date,object,96476,2965,95664,3777
order_estimated_delivery_date,object,99441,0,459,98982

In [16]:

data_status = pd.DataFrame({
    'estados': df_orders['order_status'].value_counts(),
    'entregados': df_orders['order_delivered_customer_date'].isnull().groupby(df_orders['order_status']).sum()
})
data_status

              estados  entregados
order_status
approved            2           2
canceled          625         619
created             5           5
delivered       96478           8
invoiced          314         314
processing        301         301
shipped          1107        1107
unavailable       609         609

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64